<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (favourites.length) {
  <ion-list>
    @for (r of favourites; track r.id) {
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="r.image" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ r.title }}</h2>
      </ion-label>

      <ion-button slot="end" (click)="openDetails(r.id)">Details</ion-button>
    </ion-item>
  }
  </ion-list>
} @else {
  <ion-text>
    <p>No favourites yet.</p>
  </ion-text>
}
