<!-- Recipe Details Page Template -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  

  <ng-container *ngIf="recipe">

    <ion-card>
      <img [src]="recipe.image" />
      <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
        <ion-card-subtitle>
          Units: {{ measurement.toUpperCase() }}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-item-divider>
      <ion-label>Ingredients</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let ing of recipe.extendedIngredients">
        <ion-thumbnail slot="start" *ngIf="ingredientImageURL(ing.image) as imgUrl">
          <img [src]="imgUrl" [alt]="ing.original" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <strong>{{ amount(ing) }} {{ unit(ing) }}</strong> - {{ ing.original }}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item-divider>
      <ion-label>Instructions</ion-label>
    </ion-item-divider>

    <ion-list *ngIf="steps.length; else noSteps">
      <ion-item *ngFor="let s of steps">
        <ion-label class="ion-text-wrap">
          <h3>Step {{ s.number }}</h3>
          <p>{{ s.step }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  
  <ng-template #noSteps>
    <ion-text class="ion-padding">
      <p>No instructions available</p>
    </ion-text>
  </ng-template>
  

  <ion-button expand="block" (click)="toggleFavourite()">
    {{ isFavourite ? 'Remove from Favourites' : 'Add to Favourites' }}
  </ion-button>

  </ng-container>

</ion-content>