<!-- Home Page Template -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']" aria-label="Favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']" aria-label="Settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Student Number</ion-card-title>
      <ion-card-subtitle>{{ studentNumber }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Ingredients</ion-label>
    <ion-input 
      [(ngModel)]="query" 
      (ngModelChange)="onQueryChange()" 
      (keyup.enter)="search()" 
      placeholder="e.g. chicken, rice, garlic">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="search()" [disabled]="loading || !query.trim()">Search</ion-button>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

    <ion-text *ngIf="hasSearched && !loading && results.length === 0">
      <p>No results found. Try a different ingredient</p>
    </ion-text>

    <ng-container *ngIf="results.length">

      <ion-note>
        {{ totalResults }} Results Found {{ pageLabel }}
      </ion-note>

      <div class="recipe-grid">
        <ion-card class="recipe-card" *ngFor="let r of results">
          <img [src]="r.image" [alt]="r.title" />
          <ion-card-header>
            <ion-card-title class="card-title">{{ r.title }}</ion-card-title>
            <ion-card-subtitle>
                <ion-badge *ngIf="favIds.has(r.id)">
                  Saved in Favourites
                </ion-badge>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="card-content">
            <ion-button expand="block" (click)="openDetails(r.id)">Details</ion-button>
          </ion-card-content>
        </ion-card>
      </div>

    <ion-item lines="none">
      <ion-button (click)="prevPage()" [disabled]="!canPrev">Previous</ion-button>
      <ion-label class="ion-text-center">
        <div>{{ pageLabel }}</div>
        <small>{{ totalResults }} Results</small>
      </ion-label>

      <ion-button (click)="nextPage()" [disabled]="!canNext">Next</ion-button>
    </ion-item>
  </ng-container>
</ion-content>
